body {
	height: 100vh;
	font-family: myriad-pro, sans-serif;
	font-weight: 400;
	margin: 0;
	/*background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
	overflow: hidden;
}

h1 {
	font-family: proxima-nova, sans-serif;
	font-weight: 700;
}

hr {
	display: block;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 1px;
	border-color: rgba(255, 255, 255, 0.15);
}

a {
	text-decoration: none;
	overflow: hidden;
}

.homeCard {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	max-width: 550px;
	text-align: center;
	overflow: hidden;
}

.namecard {
	justify-content: center;
	align-items: center;
	font-size: 0;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 25px;
	border-style: solid;
	border-color: #000;
	border-width: 25px;
	background-color: #FFF;
}

.avatar {
	display: inline-block;
	vertical-align: middle;
	width: 41%;
	text-align: right;
	margin: 0;
	padding-right: 2%;
}

.avatar img {
	max-width: 135px;
	border-style: solid;
	border-color: #000;
	border-width: 10px;
	border-radius: 50%;
}

.cardContent {
	display: inline-block;
	vertical-align: middle;
	width: 55%;
	padding-left: 2%;
}

.namecard h1 {
	text-align: left;
	color: #000;
	font-size: 20pt;
	margin: 0;
	padding-bottom: 0.2em;
}

.namecard p {
	font-size: 12pt;
	text-align: left;
	color: #000;
	line-height: 1.5em;
	margin: 0;
	padding: 0;
}

.portfolioLink {
	display: inline-block;
	background-color: #000;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 15px;
	transition: background-color 0.2s linear;
}

.portfolioLink:hover {
	background-color: #FFF;
}

.portfolioLink h3 {
	color: #FFF;
	text-align: center;
	margin: 0;
	transition: color 0.2s linear;
}

.portfolioLink:hover h3 {
	color: #000;
}

.contactBar {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	margin-top: 15px;
	margin-bottom: 15px;
}

.contact {
	margin: 0 1em;
	background-color: #000;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50%;
	width: 50px;
	height: 50px;
	filter: invert(0);
	transition: filter 0.2s linear;
}

.contact:hover {
	filter: invert(1);
}

#vimeo {
	background-image: url(../icon/vimeo.svg), none;
}

#github {
	background-image: url(../icon/github.svg), none;
}

#instagram {
	background-image: url(../icon/instagram.svg), none;
}

#linkedin {
	background-image: url(../icon/linkedin.svg), none;
}

#email {
	background-image: url(../icon/email.svg), none;
}

@media only screen and (max-width: 520px) {
	.avatar {
		display: block;
		width: 100%;
		text-align: center;
		margin: 0;
		padding: 0;
	}

	.cardContent {
		display: block;
		vertical-align: middle;
		width: 100%;
		padding: 0;
	}

	.namecard h1 {
		text-align: center;
		margin: 0;
		padding-top: 0.5em;
	}

	.namecard p {
		text-align: center;
	}
}

@media only screen and (max-width: 380px) {
}